*.txt
*.csv
**/__pycache__/**
*.parquet
**/tmp/**
**/processed_datasets2/**
**/processed_datasets3/**
**/processed_data/**
processed_datasets_concat/dataset/_SUCCESS
processed_datasets_concat/dataset/._SUCCESS.crc
processed_datasets_concat/dataset/.part-00000-67144ace-5e5a-4736-9516-15f09c3c16fd-c000.snappy.parquet.crc
processed_datasets_7_11/dataset/_SUCCESS
.gitignore
processed_datasets_7_11/dataset/.part-00000-74c0e24d-b82e-488d-b254-9a165751a6b5-c000.snappy.parquet.crc
processed_datasets_7_11/dataset/._SUCCESS.crc
trained_models/GBTRegression/data/_SUCCESS
trained_models/GBTRegression/data/._SUCCESS.crc
trained_models/GBTRegression/data/.part-00000-7acd61ad-8663-4ba4-8a3b-0fd70e8e3f61-c000.snappy.parquet.crc
trained_models/GBTRegression/metadata/_SUCCESS
trained_models/GBTRegression/metadata/._SUCCESS.crc
trained_models/GBTRegression/metadata/.part-00000.crc
trained_models/GBTRegression/metadata/part-00000
trained_models/GBTRegression/treesMetadata/_SUCCESS
trained_models/GBTRegression/treesMetadata/._SUCCESS.crc
trained_models/GBTRegression/treesMetadata/.part-00000-dcb69db5-758d-48fd-8ada-05ca3a714be9-c000.snappy.parquet.crc
trained_models/linearRegression/data/_SUCCESS
trained_models/linearRegression/data/._SUCCESS.crc
trained_models/linearRegression/data/.part-00000-93ad7c64-450d-4045-8ba0-3529a179e9d7-c000.snappy.parquet.crc
trained_models/linearRegression/metadata/_SUCCESS
trained_models/linearRegression/metadata/._SUCCESS.crc
trained_models/linearRegression/metadata/.part-00000.crc
trained_models/linearRegression/metadata/part-00000
unNormalized_dataset/dataset/_SUCCESS
unNormalized_dataset/dataset/._SUCCESS.crc
unNormalized_dataset/dataset/.part-00000-ff0e2b63-3098-4e17-8ab6-d5ef68bcc39d-c000.snappy.parquet.crc
unNormalized_dataset/dataset/.part-00007-ff0e2b63-3098-4e17-8ab6-d5ef68bcc39d-c000.snappy.parquet.crc
